main{
   width: 100%;
   min-height: 100vh;/*Altura da janela do meu dispositivo*/
   background-color: #4c93da;
   display: flex;
   align-items: center; /*alinha no sentido ao contrario do flex*/
   justify-content: center; /*alinha no sentido do flex*/
}

main > div {
    background-color: blueviolet;
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    

    
}

/* FORMULARIO */
#formulario{
    height: 300px;
   background-color: var(--cor-branco);
}

/* CADASTRO */
#cadastro{
    width: 100px;
    max-width: 340px;
    height: 100px;
    background-color: var(--cor-branco);
}

.estilo-formulario{
    border: var(--borda);
    width: 100%;
    max-width: 340px;
    background-color: var(--cor-branca);
}

.informacao-aplicativo{
    background-color: chocolate;
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-preto);
    font-weight: 400;
}

#secao-istalacao{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.informacao-aplicativo img{
    width: 120px;
    height: 40px;
}